
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


<bean id="dev" class="com.telusko.Dev">
<!--    <property name="age" value="16" />-->
<!--    <constructor-arg index="0" value="14" />-->
<!--    <constructor-arg index="1" value="1400"/>-->
<!--    <property name="laptop" ref="lap1" />-->
<!--    <constructor-arg ref="lap1"/>-->

    </bean>
    <bean id="lap1" class="com.telusko.Laptop">
    </bean>
</beans>